/* =======================
* Project: Bozena Zawilinska Portfolio
* Coders: Bozena (B) 
* Last update: 25/02/2021
*
* CSS WORKFLOW
*
1. GLOBAL SETTINGS 
- Variables
- Menu 
- General Settings
2. LANDING PAGE
3. ABOUT
- About Me
- Skills
- Sounds like a good match?
4. CONTACT ME
- Section 1: Picture
- Section 2: Getting in touch
5. MY WORK
6. ACCESSIBILITY

NOTES: 
- Media Queries
    - Max-width: 1366px (small screen)
      @media only screen and (max-width: 1366px) {}
    - Max-width: 1112px (tablet)
      @media only screen and (max-width: 1112px) {}
    - Max-width: 846px (tablet portrait / mobile landscape)
      @media only screen and (max-width: 846px) {}
    - Max-width: 667px (mobile portrait)
      @media only screen and (max-width: 667px) {}
============================*/

// /*** large screen ***/
// @media only screen and (min-width: 1367px) {
// }

// /*** small screen ***/
// @media only screen and (max-width: 1366px) {
// }

// /*** tablet screen ***/
// @media only screen and (max-width: 1112px) {
// }

// /*** tablet portrait / mobile landscape ***/
// @media only screen and (max-width: 846px) {
// }

// /*** mobile portrait ***/
// @media only screen and (max-width: 667px) {
// }

/* 1. GLOBAL SETTINGS
    ============================= **/

/* - Variables
   ----------------------------- */

// Breakpoints
$bp-xxsmall: 20em; // 320px
$bp-xsmall: 30em; // 480px
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-xxsmall: "(min-width: #{$bp-xxsmall})";
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Mixins
@mixin xxsmall {
  @media (min-width: #{$bp-xxsmall}) {
    @content;
  }
}

// Colors
//01/04/2021
$palette-color-1: #d2c7c3;
$palette-color-2: #f9fbf2;
$palette-color-3: #cc2430;
$palette-color-4: #3596dd;
$palette-color-5: #304153;

$palette-color-6: #d94a4a;
$palette-color-7: #f2d5ce;
$palette-color-8: #f2522e;
$palette-color-9: #f2cb05;
$palette-color-10: #30838c;

// Older
$palette-color-1: #d2c7c3;
$palette-color-2: #f9fbf2;
$palette-color-3: #b07682;
$palette-color-4: #212529;
$palette-color-5: #2c2f42;

// Font
$font-primary: "Crimson Text", serif;
$font-headers: "Playfair Display SC", serif;

$font-weights: (
  "regular": 100,
  "medium": 200,
  "bold": 400,
);

$h1: (
  "font-size": calc(26px + 2vmin),
  "letter-spacing": 5px,
  "line-height": 10vh,
  "padding": 20px,
);

$h2: (
  "font-size": calc(20px + 2vmin),
  "letter-spacing": 5px,
);

$h3: (
  "font-size": calc(16px + 2vmin),
  "letter-spacing": 5px,
);

$h4: (
  "font-size": calc(10px + 2vmin),
  "letter-spacing": 3px,
);

$p: (
  "font-size": calc(6px + 2vmin),
  "letter-spacing": 1px,
);

.btn-outline-dark:hover {
  background-color: $palette-color-6 !important;
}

/* - Menu 
   ----------------------------- */
.site-header nav {
  background-color: $palette-color-5 !important;
  display: inline-flex !important;
  flex-direction: column;
  position: fixed;
  text-align: center;
  top: 0px !important;
  width: 100%;
  z-index: 999;
}

.site-title a {
  display: flex;
  margin: 0 auto;
  max-width: 70%;
}

.site-title img {
  display: flex;
  margin: 0 auto;
  max-width: 50%;
}

.site-title {
  margin: 0 auto;
  position: relative;
}

// .site-header:after {
//   background: $palette-color-5 !important;
//   color: $palette-color-5 !important;
//   border-radius: 100%;
//   content: "";
//   display: flex;
//   font-size: 3rem;
//   line-height: 6rem;
//   margin: 0 auto;
//   position: relative;
//   top: 2.25rem; // -3.25rem;
//   width: 10rem;
//   height: 5rem;
//   text-indent: 1.75rem;
//   z-index: 0;
// }

.navbar-dark .navbar-toggler {
  color: transparent !important;
  border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/*** tablet portrait / mobile landscape ***/
@media only screen and (max-width: 896px) {
  .nav-item a.active {
    padding: 5px;
  }
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  .navbar-toggler-icon {
    top: 5px;
    position: relative;
    width: 1.2em !important;
    height: 1.2em !important;
  }

  .site-header:after {
    display: none;
  }
}

/* - General Settings
   ----------------------------- */
.site-container {
  background-color: $palette-color-2;
}

.page {
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  position: relative;
  width: 100%;
}

label {
  padding-right: 10px;
  font-size: 1.5rem !important;
  margin: 0 auto !important;
}

.col {
  padding: 0 !important;
}

.icon {
  display: flex;
  flex-wrap: nowrap;

  @media screen and (max-width: 760px) {
    flex-direction: row;
  }
  :hover {
    opacity: 0.7;
  }

  img {
    width: 50px;
    margin: 4px;
  }
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  .site-container {
    margin-top: -10px;
  }
}

/* = = = = = = = = = = END = = = = = = = = = = */

/* 2. LANDING PAGE
   ============================= */
.hero#home-page {
  background-color: $palette-color-5;
  color: $palette-color-4;
  display: inline-block;
  max-height: 100vh;
  margin-bottom: -60px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  .hero-video-btn {
    position: absolute;
    margin: 0 auto;
    top: 50%; /* Adjust this value to move the positioned div up and down */
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    width: 100%; /* Set the width of the positioned div */
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    z-index: 2;
    h1 {
      font-family: $font-headers;
      text-decoration-line: none;
      color: $palette-color-2;
      font-size: 300%;
      margin-bottom: 10%;
      filter: drop-shadow(5px 5px 3px black);
    }
  }
}

.hero {
  /* Hero Video */
  .hero-video {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    bottom: 0;
    margin-right: 0;
    z-index: 0;

    @media (max-width: 1099px) {
      video {
        height: 100vh;
        width: 100%;
        transform: scale(3.2);
        -webkit-transform: scale(3.2);
      }
    }
  }

  .hero-video-text {
    position: absolute;
    margin: 0 auto;
    padding: 15px;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    width: 80%; /* Set the width of the positioned div */
    min-height: fit-content;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    z-index: 2;
    h1 {
      font-family: $font-headers;
      text-decoration-line: none;
      color: $palette-color-2;
      overflow-wrap: anywhere;
      filter: drop-shadow(5px 5px 3px black);
      font-size: 5vw;
    }
  }
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  #home-page {
    margin-top: -10px;
  }

  .hero .hero-video-text {
    top: 30%;
  }

  .hero#home-page .hero-video-btn {
    top: 40%;
  }
}

/* = = = = = = = = = = END = = = = = = = = = = */

/* 3. ABOUT
   ============================= */

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* About page - skills */
#about-page {
  .page {
    padding: 2rem;

    .p2 {
      margin: 0 auto;
    }

    .row {
      flex-direction: column;
    }

    .icon {
      height: 50px;
      max-width: 50px;
      margin-left: 0 !important;
    }

    .table td {
      width: 50%;
    }
  }
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  #about-page {
    margin-top: 0;
  }
}

/* - About Me
   ----------------------------- */

/* - Skills 
   ----------------------------- */

/* - Sounds like a good match?
   ----------------------------- */

/* = = = = = = = = = = END = = = = = = = = = = */

/* 4. CONTACT ME
   ============================= */

.hero#contact-page {
  background-color: $palette-color-2;
  color: $palette-color-4;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;

  /* Hero Image */
  .hero-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    bottom: 0;
    margin-right: 0;
    z-index: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .hero-image-text {
    padding-right: 50px;
    position: absolute;
    margin: 0 auto;
    top: 20%; /* Adjust this value to move the positioned div up and down */
    left: 0;
    right: 0;
    text-align: right;
    background: rgba(0, 0, 0, 0);
    width: 100%; /* Set the width of the positioned div */
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
    z-index: 2;
    h3 {
      font-family: $font-headers;
      text-decoration-line: none;
      color: $palette-color-2;
      overflow-wrap: anywhere;
      filter: drop-shadow(5px 5px 3px black);
      font-size: 4.5vw;
    }
  }

  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $palette-color-4;
    opacity: 0.3;
    z-index: 1;
  }
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  #contact-page {
    margin-top: 0;
  }

  #contact-page h3 {
    padding: 0 15px !important;
  }
}

/* - Section 1: Picture
   ----------------------------- */

/* - Section 2: Getting in touch
   ----------------------------- */

/* = = = = = = = = = = END = = = = = = = = = = */

/* 5. MY WORK
   ============================= */
#work-page {
  margin-top: 150px;

  .mt-3,
  .my-3 {
    margin-top: 0 !important;
  }
}

#logo-design {
  padding: 18px;
  .box {
    margin: 0;
    align-content: center;
    padding: 2rem;
  }
  .one {
    object-fit: scale-down;
    flex: 1;
    text-align: left;
  }
  .two {
    object-fit: scale-down;
    flex: 1;
    text-align: left;
    margin: 2vw;
  }

  .three {
    object-fit: scale-down;
    flex: 1;
    text-align: left;
  }
}

.float-right {
  text-align: right;
}

img#work {
  width: 50%;
}

.img {
  padding: 5px;
  transition: transform 0.2s;
  object-fit: scale-down;
}

.img :hover {
  filter: drop-shadow(8px 8px 10px gray);
  transform: scale(1.1);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  @media screen and (max-width: 760px) {
    flex-direction: column;
  }
}

.flex-container > div {
  width: 100%;
  margin: 10px;
  line-height: 75px;
}

/* My work page 2021 */
.collapsible {
  background-color: $palette-color-5;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 20px;
  outline: none;
  padding: 18px;
  width: 100%;
  text-align: left;
}

.active,
.collapsible:hover {
  background-color: $palette-color-6;
  border-radius: 30px;
}

.row .coll-content {
  display: none;
  margin-bottom: 20px;
  padding: 18px;
  padding-bottom: 50px;
}

.flex-container .img {
  padding: 20px;
}

.flex-container h4,
.flex-container p {
  padding-left: 20px;
}

/*** small screen ***/
@media only screen and (max-width: 414px) and (orientation: portrait) {
  .collapsible {
    padding: 0 15px !important;
  }
}

/* = = = = = = = = = = END = = = = = = = = = = */

/* 6. ACCESSIBILITY
   ============================= */

#accessibility-page {
  margin-top: 5em;
}

/* = = = = = = = = = = END = = = = = = = = = = */

/* 7. FOOTER
   ============================= */
.footer {
  align-items: center;
  background-color: $palette-color-5;
  color: $palette-color-2;
  height: 60px;
  margin-top: 50px;
  padding-top: 20px;
  position: relative;
  text-align: center;
}

/* = = = = = = = = = = END = = = = = = = = = = */
