.bouncy-smile {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .bouncy-smile {
    animation: bouncy-smile-bounce 2s infinite;
  }
}

@keyframes bouncy-smile-bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}
